<template>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 album">
          <img :src="album.img" :alt="album.name">
          <h2>{{album.name}}</h2>
          <p>
            <small>SPOTIFY</small>
          </p>
          <p>
            <button class="btn btn-success">LECTURE</button>
          </p>
          <p>
            <small>{{album.titleNumber}} titres</small>
          </p>
          <a href="#">
            <p>SAUVEGARDER DANS LA BIBLIOTHEQUE</p>
          </a>
        </div>
        <div class="offset-2 col-8">
          <ul>
            <li v-for="song in sortedSongs" :key="song.id">
              <p>{{song.title}} {{song.time}}</p>
              <p>
                <small>{{song.artist}} . album</small>
              </p>
              <p>
                <button @click="upVote(song.id)">Votes pour cette chanson</button>
                {{song.vote}} vote(s)
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    album: Object,
    songs: Array
  },

  computed: {
    sortedSongs: function () {
      return this.songs.sort(function (a, b){
         return b.vote - a.vote;
      })
    }
  },

  methods: {
    upVote(songId) {
      //on parcourt le tableau de songs
      // on récupère l'index en fonction de l'id de la song
      const index = this.songs.findIndex(song => song.id == songId);
      // on incrémente le paramètre de l'index trouvé
      this.songs[index].vote++;
    }
  }
};
</script>

<style scoped>
section{
    margin-bottom: 90px;
}
.container-fluid {
  background-color: orange;
  color: white;
}
.album {
  text-align: center;
}
</style>
