<template>
  <nav>
    <a href="#">
      Spotiplon
    </a>
    <ul class="nav flex-column">
      <li class="nav-item" v-for="(link, index) in links" :key="index">
        <a class="nav-link" :href=link.url>{{link.label}}</a>
      </li>
    </ul>

    <div>
        <p><button class="btn btn-light">S'INSCRIRE</button></p>
        <p><button class="btn btn-dark">SE CONNECTER</button></p>
    </div>
  </nav>
</template>

<script>
export default {
    props: {
        links: Array
    }

};
</script>

<style scoped>
nav {
    left: 0;
    background-color: black;
    color: white;
    margin-bottom: 90px;
}

div {
    margin-top: 15%;
}
</style>
