<template>
  <div id="app">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3 myNav pt-3">
          <navigation-vue :links="links"></navigation-vue>
        </div>
        <div class="col-9 myContents pt-3">
          <contenu-vue :album="album" :songs="songs"></contenu-vue>
        </div>
            <Player-vue class="col-12 p-0 m-0"></Player-vue>

      </div>
    </div>
  </div>
</template>

<script>
import NavigationVue from "./components/Navigation.vue";
import ContenuVue from "./components/Contenu.vue";
import PlayerVue from "./components/Player.vue";

export default {
  name: "app",
  components: {
    NavigationVue,
    ContenuVue,
    PlayerVue
  },

  data() {
    return {
      links: [
        { url: "#", label: "Accueil" },
        { url: "#", label: "Rechercher" },
        { url: "#", label: "Bibliothèque" }
      ],
      album: {
        img: `https://i.scdn.co/image/489c047090d5691837316bf5ca282e408ce9886f`,
        name: `Feelin' Good`,
        titleNumber: 100
      },
      songs: [
        {
          id: 1,
          active: true,
          title: "Sitting",
          artist: "otis redding",
          time: "5.50",
          vote: 0
        },
        {
          id: 2,
          active: false,
          title: "Respect",
          artist: "aretha F.",
          time: "3:40",
          vote: 0
        },
        {
          id: 3,
          active: false,
          title: "No woman no cry",
          artist: "bob M",
          time: "2:45",
          vote: 0
        },
        {
          id: 4,
          active: false,
          title: "No woman no cry",
          artist: "bob M",
          time: "2:45",
          vote: 0
        },
        {
          id: 5,
          active: false,
          title: "No woman no cry",
          artist: "bob M",
          time: "2:45",
          vote: 0
        },
        {
          id: 6,
          active: false,
          title: "No woman no cry",
          artist: "bob M",
          time: "2:45",
          vote: 0
        },
        {
          id: 7,
          active: false,
          title: "No woman no cry",
          artist: "bob M",
          time: "2:45",
          vote: 0
        }
      ]
    };
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.myNav {
  background-color: black;
}

.myContents {
  background-color: orange;
}

navigation-vue {
  left: 0;
}
</style>
